.event-form {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
  
.event-form-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

  .event-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
.task-img{
    width:100%;
    
}

  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  